<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <div class="container">
        {% block content %}{% endblock %}
        <!-- Переключатель страниц -->
    <nav style="margin-bottom: 20px;">
        {% if request.endpoint == 'login' %}
            <p>Ещё не зарегистрированы? <a href="{{ url_for('register') }}">Регистрация</a></p>
        {% else %}
            <p>Уже есть аккаунт? <a href="{{ url_for('login') }}">Вход</a></p>
        {% endif %}
    </nav>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>