{% extends "base_user.html" %}
{% block title %}Вход{% endblock %}
{% block content %}
<h2>Вход</h2>
<form action="{{ url_for('login') }}" method="post" onsubmit="return validateForm(this)">
    <label for="username">Имя пользователя:</label>
    <input type="text" id="username" name="username" required><br>

    <label for="password">Пароль:</label>
    <input type="password" id="password" name="password" required><br>

    <button type="button"
      onclick="location.href='{{ url_for('yandex_auth') }}'"
      style="
        background-color:#fc3f1d;
        color:#fff;
        border-radius:4px;
        padding:10px 16px;
        font-size:1rem;
        cursor:pointer;
        border:none;
        margin:10px 0;
      "
    >
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" style="vertical-align:middle; margin-right:8px;">
        <path d="M2.5 18L7.5 10L2.5 2H6L11 10L6 18H2.5Z" fill="white"/>
        <path d="M10 18L15 10L10 2H13.5L18.5 10L13.5 18H10Z" fill="white"/>
      </svg>
      Войти через Яндекс
    </button>

    <button type="submit">Войти</button>
</form>
{% endblock %}
